{{ define "header" }}
<header class="hero is-light is-bold">
    <section class="hero-body">
        <section class="container content">
            <h1 class="title is-3">{{ .Title }}</h1>
        </section>
    </section>
</header>
{{ end }}
{{ define "main" }}
<main class="section">
    <section class="container">
        {{ range .Pages }}
        <div class="box">
            <article class="content">
                <article>
                    <h2 class="title is-4"><a href="{{.RelPermalink}}">{{ .Title }}</a></h2>
                </article>
                <footer>
                    <table class="table is-fullwidth">
                        <tbody>
                        <tr>
                            <td><a href="{{ .Params.link }}" target="_blank">{{ .Params.event }}</a></td>
                            <td class="has-text-right-tablet">{{ .Params.location }}</td>
                        </tr>
                        <tr>
                            <td>{{ .Date.Format "01 January 2006" }}</td>
                        </tr>
                        </tbody>
                    </table>
                </footer>
            </article>
        </div>
        {{ end }}
    </section>
</main>
{{ end }}