{{ define "extra_scripts" }}
<script src="/js/zenscroll-min.js" async></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>
{{ end }}
{{ define "header" }}
<header class="hero is-fullheight-with-navbar">
    <section class="hero-body container">
        <section class="content has-text-centered">
            <figure id="homepage__profile-image" class="image is-rounded has-text-centered">
                {{ with .Resources.GetMatch "profile" }}
                <img class="is-rounded" src="{{ .RelPermalink }}">
                {{ end }}
            </figure>
            <h1 class="title is-3 has-text-centered-mobile">{{ .Title }}</h1>
            {{ with .Params.subtitle }}
            <h3 class="subtitle is-5 has-text-centered-mobile"> {{ . }}</h3>
            {{ end }}
            {{ with .Params.info }}
            <p class="has-text-centered-mobile">{{ . }}</p>
            {{ end }}
            <div class="tabs is-centered">
                <ul>
                    <li><a href="#about-me">About me</a></li>
                    <li><a href="#latest-blog">Latest blog</a></li>
                    <li><a href="#references">References</a></li>
                </ul>
            </div>
        </section>
    </section>
</header>
{{ end }}
{{ define "main" }}
<main>
    <section class="section border-top container">
        <article id="about-me">
            <header class="content">
                {{ with .Params.about_title }}
                <h2 class="is-3">{{ . }}</h2>
                {{ else }}
                <h2 class="is-3">About me</h2>
                {{ end }}
            </header>
            <article class="content">
                {{ .Content }}
            </article>
        </article>
    </section>
    {{ partial "homepage/blog_roll.html" . }}
    {{ partial "homepage/reference.html" . }}
</main>
{{ end }}
{{ define "inline_scripts" }}
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
{{ end }}