{{ define "header" }}
<header class="hero is-fullheight-with-navbar">
    <section class="hero-body container">
        <section class="content has-text-centered">
            <figure id="homepage__profile-image" class="image is-rounded has-text-centered">
                {{ with .Resources.GetMatch "profile" }}
                <img class="is-rounded" src="{{ .Permalink }}">
                {{ end }}
            </figure>
            <h1 class="title is-3 has-text-centered-mobile">{{ .Title }}</h1>
            {{ with .Params.subtitle }}
            <h3 class="subtitle is-5 has-text-centered-mobile"> {{ . }}</h3>
            {{ end }}
            {{ with .Params.info }}
            <p class="has-text-centered-mobile">{{ . }}</p>
            {{ end }}
        </section>
    </section>
</header>
{{ end }}
{{ define "main" }}
<main>
    <section class="section border-top container">
        <article>
            <header class="content">
                {{ with .Params.about_title }}
                <h2 class="is-3">{{ . }}</h2>
                {{ else }}
                <h2 class="is-3">About me</h2>
                {{ end }}
            </header>
            <article class="content">
                {{ .Content }}
            </article>
        </article>
    </section>
    {{ if gt (len (where .Site.RegularPages "Section" "==" "blog")) 0 }}
    <section class="section border-top container">
        <section class="content">
            <h2 class="is-3">Latest blog</h2>
        </section>
    </section>
    {{ end }}
{{ partial "homepage/reference.html" . }}
</main>
{{ end }}