{{define "header" }}
<header class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="content">
                <h1 class="title is-3">{{ .Title }}</h1>
                <p class="is-size-5">{{ .Params.author }}</p>
                <p class="is-size-7">{{ .Date.Format "02 Jan 2006" }} | {{ .ReadingTime }} min read</p>
            </div>
        </div>
    </div>
</header>
{{ end }}
{{ define "main" }}
<main class="container">
    {{ if (and (isset .Params "headline_image") ( isset .Params "image_src")) }}
    <section>
        <figure class="image is-fluid">
            <img src="{{ .Params.headline_image }}">
        </figure>
        <p>{{.Params.image_src | safeHTML }}</p>
    </section>
    {{ else if (isset .Params "headline_image") }}
    <section>
        <figure class="image is-fluid">
            <img src="{{ .Params.headline_image }}">
        </figure>
    </section>
    {{ end }}
    <div class="section">
        <article class="content">
            {{ .Content }}
        </article>
    </div>
</main>
{{ end }}