<footer class="footer is-fullwidth border-top has-background-grey-lighter">
    <div class="content has-text-centered">
        <ul class="social-media-list" aria-label="stay in touch">
            <li>
                <a href="https://github.com/nadershamma" target="_blank" aria-label="find me on github">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/nadershamma" target="_blank" aria-label="find me on twitter">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/nadershamma/" target="_blank" aria-label="find me on Linked in">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="content has-text-centered">
        <p class="is-medium has-text-centered">Copyright &copy; Nader Al-Shamma</p>
        <p class="is-small">Source code licensed <a href="https://opensource.org/licenses/MIT" target="_blank"
                                                    aria-label="Mit License">MIT.</a> <br>
            Website content licensed <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"
                                        aria-label="Creative Commons License"> CC BY-NC-SA 4.0</a></p>
    </div>
</footer>