<nav class="navbar is-light" role="navigation" aria-label="site navigation">
    <div class="container">
        <section class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.Home.Permalink }}">
                <p class="title is-6">$ cd /home/nader</p>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </section>
        <section class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ .Site.Home.Permalink }}">
                    Home
                </a>
            </div>
        </section>
    </div>
</nav>