{{ $currentPage := . }}
<nav class="navbar is-light" role="navigation" aria-label="site navigation">
    <div class="container">
        <section class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.Home.RelPermalink }}">
                <p class="title is-6">$ cd /home/nader</p>
            </a>
            <a role="button" id="toggle-mobile-menu-button" class="navbar-burger burger" aria-label="menu"
               aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </section>
        <section id="main-menu" class="navbar-menu">
            <div class="navbar-end">
                {{ range .Site.Menus.main }}
                <a class="navbar-item {{ if $currentPage.IsMenuCurrent " main" . }}is-active{{ end }}"
                href="{{ .URL }}">
                {{ .Name}}
                </a>
                {{ end }}
                <a class="navbar-item" href="https://github.com/nadershamma" target="_blank"
                   aria-label="find me on github">
                    <i class="fab fa-github fa-1x"></i>
                </a>
                <a class="navbar-item" href="https://twitter.com/nadershamma" target="_blank"
                   aria-label="find me on twitter">
                    <i class="fab fa-twitter fa-1x"></i>
                </a>
                <a class="navbar-item" href="https://www.linkedin.com/in/nadershamma/" target="_blank"
                   aria-label="find me on Linked in">
                    <i class="fab fa-linkedin fa-1x"></i>
                </a>
            </div>
        </section>
    </div>
</nav>