html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa;

  main {
    width: 100%;
    flex-grow: 1;
  }

  .container {
    width: 100%;
    max-width: $fullhd;
  }
}

